{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "react-app",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "no-console": ["warn", {"allow": ["warn", "error", "info"]}],
    "eqeqeq": "error",
    "dot-notation": "error",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
