:root {
  --mainEng-font: 'Montserrat';
  --mainKor-font: 'noto';

  --bg-chat: #fff9ef;
  --bg-header: #faf0e1;

  --arrow: #828282;
  --sender: #03006e;
  --recipient: #fff;
  --subBg-date: #c1c1c6;

  --white: #fff;
  --black: #000;

  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

body {
  background-color: var(--white);
}
