#input {
  @include flex-between;
  width: 100%;
  background-color: var(--bg-header);
  padding: 15px 20px;
  height: 65px;

  .plus-btn {
    @include flex-basic;
    justify-content: center;
    width: 28px;
    height: 28px;
    color: var(--subBg-date);
    background: none;
    border: var(--subBg-date) solid 1px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 200;
    cursor: pointer;
  }

  .input-text-wrapper {
    @include flex-between;
    width: 88%;
    padding: 5px 10px 5px 15px;
    background-color: var(--white);
    border-radius: 30px;

    .input-text {
      width: 85%;
      font-size: 14px;
      border: none;
      outline: none;
    }

    .active-input-arrow,
    .inactive-input-arrow {
      border-radius: 50%;
      color: var(--white);
      font-size: 25px;
      padding: 5px;
    }

    .active-input-arrow {
      background-color: var(--sender);
      cursor: pointer;
    }
    .inactive-input-arrow {
      background-color: var(--arrow);
    }
  }
}
